.App {
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;

  /* border: 1px red solid; */
}
.error-message {
  color: red;
  margin: 10px;
  margin-left: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: large;
  /* font-weight: bold; */
}
h1 {
  text-align: center;
  margin-top: 20px;
}

.task-input {
  /* margin: 60px; */
  margin: auto;
  padding: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  font-size: larger;
  /* background-color: red; */
  width: 70%;
}

.input {
  height: 30px;
  width: calc(100% - 56px);
  margin-left: 18px;
  font-size: 16px;
  border: 1px solid;
  padding: 8px;
  margin-top: 10px;
}
.in .input input:focus {
  border-color: rgb(110, 62, 183);
}

.add_but {
  height: 40px;
  width: calc(100% - 36px);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 18px;
  font-size: 20px;
  font-weight: bold;
  background-color: #16a3b7;
  border: none;
  color: white;
  border-radius: 4px;
}
.three_but {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-left: 10px;
}
.but {
  color: white;
  width: 60px;
  height: 50px;
  background-color: #16a3b7;
  font-weight: bold;
  border-radius: 3px;
  border: none;
  margin-bottom: 10px;
}

.Don_all {
  display: flex;
  flex-direction: row;
  border: 1px rgb(117, 115, 115) solid;
  padding: 10px;
  width: 60%;

  /* column-gap: 65%; */
  align-items: center;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 10px;
}
/* Dones.css */
.custom-checkbox {
  width: 15px;
  height: 20px;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: large;
}

.task-list {
  margin-right: 30px;
}
.list {
  font-weight: bold;
  margin-right: 10px;
}
.Allthree_but {
  /* width: 10%; */
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Allthree_but button {
  font-size: 16px;
  background-color: #31d022;
  margin-left: 5px;
  border-radius: 3px;
  padding: 5px;
}

.delete {
  height: 25px;
  font-size: 30px;
  color: rgb(242, 7, 7);
  padding-left: 10px;
}
.edit {
  color: rgb(244, 241, 35);
  font-size: 30px;
  padding: 5px;
  height: 25px;
  margin-right: 5px;
}
.two_but {
  display: flex;
  width: 90%;
  margin-top: 50px;
  justify-content: space-around;
}
.btn {
  background-color: red;
  border: none;
  border-radius: 4px;
  height: 50px;
  color: white;
  /* margin-left: 20px; */
}
.del_all {
  margin-left: 50px;
}
.del_do_all {
  margin-left: 80px;
}
h2 {
  text-align: center;
}
@media screen and (max-width: 320px) {
  .task-list {
    margin: auto;
    width: 50%;
    /* background-color: aqua; */
    padding: 10px;
  }
  .three_but {
    margin-bottom: 5px;
  }
  .Don_all {
    margin-right: 40px;
    width: 90%;
  }

  .del_do_all {
    margin-left: 50px;
  }
  .check {
    height: 15px;
  }
  .edit {
    height: 20px;
  }
  .delete {
    height: 20px;
  }
}
@media screen and (max-width: 355px) {
  .task-list {
    margin: auto;
    width: 90%;
  }
  .three_but {
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 375px) {
  .del_do_all {
    margin-right: 5px;
  }
  .two_but {
    width: 80%;
  }
  .check {
    height: 15px;
  }
  .edit {
    height: 20px;
  }
  .delete {
    height: 20px;
  }
}
@media screen and (max-width: 425px) {
  .two_but {
    margin-right: 10px;
    width: 80%;
  }
  .check {
    height: 15px;
  }
  .edit {
    height: 20px;
  }
  .delete {
    height: 20px;
  }
}
@media screen and (max-width: 768px) {
  .in {
    border: 1px solid;
  }
  .check {
    height: 15px;
  }
  .edit {
    height: 20px;
  }
  .delete {
    height: 20px;
  }
}
